#text1{
width:1000px;
height:200px;
font-size: 18pt;
}
#images1{
width:1000px;
height:244px;
}
#HTML_CSS_Java{
width:250px;
height:244px;
float: left;
margin: 0 auto;
}
#JQuery{
width:250px;
height:244px;
float: left;
margin: 0 auto;
}	
#php{
width:250px;
height:244px;
float: left;
margin: 0 auto;
}	
#git{
width:250px;
height:244px;
float: right;
margin: 0 auto;
}	