#vv{
width:1000px;
height:88px;
font-size:16pt;
}
#education{
width:265px;
height:400px;
font-size:14pt;
float: left;	
}
#language{
width:265px;
height:400px;
font-size:14pt;	
float: left;	
}
#hobbi{
width:205px;
height:400px;
font-size:14pt;	
float: right;	
}
#ikon{
width:40px;
height:40px;
text-align: center;	
}
#courses{
width:265px;
height:400px;
font-size:14pt;	
float:left;	
}

