body{
margin:0;
font-family:arial;
text-align:center;
}
a{
color:#212121;
text-decoration: none;
}
#wrepper{
width:1000px;
height:800px;
margin:0 auto;
background-image:url(../images/bg_fone.png);
}
#verh{
width:1000px;
height:222px;
float: left;	
}
#images{
background-position: center;
width:285px;
height:222px;
}
#active{
width:200px;
height:25px;
background-color:#c3a7b6;
}
a:hover{
color:#c3a7b6; 
}
.menu_1{
width:200px;
height:40px;
font-size:18pt;
margin:15px 0 15px 200px;
text-align: right;
float: left;
}
.menu{
width:200px;
height:40px;
font-size:18pt;
margin:15px 0 15px 0;
float: left;
text-align: center;
}
.menu_2{
width:200px;
height:40px;
font-size:18pt;
margin:15px 200px 15px 0;
float: right;
text-align: left;
}
#center{
width:1000px;
height:488px;
font-size:14pt;
float: left; 
}
#footer{
width:1000px;
height:20px;
float: left; 
}
#mail{
width:300px;
height:20px;
font-size:13pt;
float: left; 
margin: 0 0 0 200px;
}
#phone{
width:300px;
height:20px;
font-size:13pt;
float: right; 
margin: 0 200px 0 0;
}
.ikon1{
width: 15px;
height: 15px;
}